<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valentine's Day Matchmaking</title>
    <link rel="stylesheet" href="static/style.css">
  <script type="text/javascript">
    function goToForm() {
        window.location.href = "/form";  // Preusmeravanje na /form rutu
    }

    function goToForm1() {
        window.location.href = "/form3"; // Preusmeravanje na form3.html
    }

    // Na početku, sakrij dugme
    window.onload = function() {
        // Sakrij button2 pri učitavanju stranice
        document.getElementById('button2').style.display = 'none';

        // Postavi datum i vreme do kada treba da bude skriveno dugme
        const targetDate = new Date('2025-02-01T13:35:00');  // Na primer, 31. januar 2025.

        function checkTime() {
            const currentDate = new Date();  // Dohvata trenutni datum i vreme
            if (currentDate >= targetDate) {
                // Ako je trenutni datum veći ili jednak ciljanom datumu, prikaži dugme2
                document.getElementById('button2').style.display = 'block';
                document.getElementById('button').style.display = 'none';  // Sakrij button1
                clearInterval(interval);  // Zaustavi proveru
            }
        }

        // Proveravaj svake sekunde
        const interval = setInterval(checkTime, 100);
    };
</script>

</head>
<body>

    <!-- CUPID'S CHOICE iznad header-a -->
    <div class="cupid-choice">CUPID'S CHOICE</div>

    <!-- Header -->
    <header>
        <div class="logo">NLNL25</div>
    </header>

    <!-- Glavni sadržaj -->
    <main class="main1">
        <div class="content">
            <div class="text">
                <h1>VALENTINES DAY MATCHMAKING</h1>
                <p>POPUNI KRATKU FORMU I PRONADJI SVOJU SRODNU DUSU &lt;3</p>
                <button id="button" class="start-btn" onclick="goToForm()" >ZAPOČNI →</button>
                <button id="button2" class="start-btn" onclick="goToForm1()" >TABELA</button>
            </div>
            <div class="image">
                <img src="static/imgages/cupid.jpg" alt="Cupid's Party">
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p>NAPRAVLJENO S LJUBAVLJU ZA NLNL25 &copy;</p>
    </footer>

</body>
</html>
